/* Made by Little9070 using MDN Web Docs */

/* Credit to CyberYoshi64 for some assistance */

/* This is my first time using HTML + CSS */

/* Sets the BG color, size, and padding info */
body {
  padding:0px 0 20px 0px;
  margin: 0px;
  font:14px/1.5 Arial;
  color:#FFFFFF;
  font-weight: normal;
  background-color: #000000
}

/* Uhh i really dont know what this does but I know its very important */
.wrapper {
  max-width:1024px;
  margin:0 auto;
  position:relative;
  padding: 0 20px;
}


/* p - paragraph */
p {
  z-index: 0;
  font: 24px arial;
  color: #f2fafc;
}

/* h1 - heading 1 */
/* the bigger the number the larger the size */
h1, h2, h3, h4, h5, h6 {
  z-index: 0;
  color:#ffffff;
  margin:0 0 10px;
  font-family: arial;
  font-weight: normal;
}

/* this should be a custom tag, maybe it will work? maybe it wont. */
ct {
  z-index: 100;
  color:#710000;
  font-family: sans-serif;
}
#header {
  z-index: 100;
  left:0;
  top: 0px;
  height: 60px;
  width: 100%;
  position: fixed;
  background: rgb(0,14,42);
  background: linear-gradient(0deg, rgba(0,14,42,1) 0%, rgba(0,20,50,1) 35%, rgba(0,27,62,1) 100%); 
  border-bottom: 4px solid #061a2c;
  box-shadow: 0px 1px 3px rgba(0,0,0,.25);

  nav {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 10px;
    background: blue;
    margin: 6px auto;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        list-style: none;
        display: inline;
        color: white;
        line-height: 50px;
        text-shadow: 0px 1px 0px rgba(0,0,0,.2);
        font-size: 14px;

        a {
          color: white;
          border: 1px solid #000000;
          background: radial-gradient(#ff9d5d, #f66100);
          border-radius: 12px;
          box-shadow: inset 0px 1px 0px rgba(255,255,255,.3), 0px 3px 7px rgba(0,0,0,.7);

          background-color: #93bd20;
          padding: 10px 12px;
          margin-top: 6px;
          line-height:14px;
          font-size:14px;
          display:inline-block;
          text-align:center;

          &:hover {
            background: radial-gradient(#ffa367, #ff9d5d);
            background-color: #659e10;
            border: 1px solid #000000;
            box-shadow: inset 0px 1px 1px rgba(0,0,0,.2), 0px 1px 0px rgba(0,0,0,.0);
          }
        }

        &.linkone {
          float: left;
          margin-left: 0px;
        }

        &.downloads {
          float: right;
          margin-left: 6px;
        }

        &.linktwo {
          float: right;
          margin-right: 10px;
          font-size: 11px;
        }
      }
    }
  }
}

/* I honestly have no clue what I'm doing. It's by God's grace and mercy if this even ends up looking good. Seriously, I'm putting faith and trust in him. slash srs */
